.login{
    display:flex;
    /* flex-direction: column; */
    flex:1;     
    justify-content: center;
}
.user_info p{
    font-size: xx-large;
}
.user_info svg{
    font-size: 2.5rem;
    color: azure;
}
.sidebar_listitems{
    margin: 1rem 0;
}